//Variables Bootstrap
@import "../bootstrap-sources/less/variables.less";

//Variables internes
@import "./variables.less";

//General
@import "./general.less";

body
{
  margin: 0 auto;
  padding: 0;
}



//Block d'affichage des champs dans les vues vcard et details (partagé ici)
.block {margin-bottom:15px;}
.list {margin-bottom:5px; font-weight:bold;}
.block ul, .list ul {margin:0; padding:0;}
.block li, .list li{display:inline;font-size:1em;}
.block li:after, .list li:after {content:', ';}
.block li:last-child:after, .list li:last-child:after {content:'.';}

//Structure
.largesheet {.whitetexturized ;position:relative;z-index:1;}
.sheet.container, .footer.container {overflow:hidden; margin:auto;}
.sheet-wrapper, .footer-wrapper { }

//Blocs principaux
.zone-gauche, .contenu  {position:relative; z-index:9; padding:5px; margin-bottom:20px;}
.zone-gauche.on {.whitetexturized ;}
.zone-gauche.off {background-color:transparent;}
.zone-centre {position:relative; z-index:9;}

//Onoff
#onoff {cursor:pointer; position:absolute; z-index:999; top:0; right:100px; font-size:1.5em;font-weight:normal; background-color:@thematicColor;color:#fff;padding:1%;
-moz-border-radius-bottomright: 5px;
border-bottom-right-radius: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-left-radius: 5px;}

//Contenu / Onoff
.contenu {overflow:hidden; position:relative;}
.contenu.on, .header.on, .fullmap.on {
	//transition: 1s opacity 0.3s;  
	//opacity:1;
	//display:block;
	z-index:99;
}

.contenu.off, .header.off, .fullmap.off{
	//transition: 1s opacity 0.3s;  
	//opacity:0;
	//display:none;
	z-index:0;
}

//Header
.header {padding:1%;padding-top:20px;padding-bottom:20px;}
.contenuplus .header {margin:0 0 25px!important; padding:0!important;}
.header a {color:@textColor;}
.header a:hover {color:lighten(@textColor,5%)!important;}
.header .titresite {float:left;}
.header .icon {font-size:@headerIconFontsize; line-height:100%; color:@headerIconColor; .whitebordered;}
.header .icon a, .header .icon a:hover {color:@headerIconColor;}
.header .icon {float:left; margin-right:1%;}
.header .brand {font-family:@fontFamily1;font-size:@headerBrandFontsize;line-height:1.2em;font-weight:bold;.whitebordered;}
.header .brand .w1, .contenuplus .header .brand .w1 {color:@headerBrandColor1;}
.header .brand .w2, .contenuplus .header .brand .w2 {color:@headerBrandColor2;}
.header .brand .w3, .contenuplus .header .brand .w3 {color:@headerBrandColor3;}
.header h1 {color:@headerBrandColor3;font-size:@headerBrandFontsize;font-weight:bold;.whitebordered;}
.header  .soustitre, .header .soustitre-small, .header .accroche 
{clear:both;font-family:@fontFamily1;font-weight:700;.whitebordered;}
.header h2 {font-size:1em;font-weight:bold;}
.header  .soustitre-small {display:none;}
.header  .accroche {visibility:hidden; height:1px;}
.contenuplus .header .icon, .contenuplus .header .brand, .contenuplus .header .soustitre, .contenuplus .header .soustitre-small{opacity:1;}

//Google maps
.fullmap {position:fixed;top:0;left:0;width:100%;max-width:100%;z-index:0;}
.fullmap.container-fluid {padding:0!important;margin:0!important;}

#Jmaps img, #JmapsSearch img, #JmapsHome img, #field_jmapsmarker img {max-width:none!important;}
.markerHTMLdiv, .markerHTMLdiv {font-weight:normal!important;font-size:0.9em!important;line-height:1.5em;}
.markerHTMLdiv img, .markerHTMLdiv img {margin-right:2%;}

//Login
.login .login-description, .logout .logout-description {margin-bottom:20px;}
.login input#remember {float:left;}
.login label#remember-lbl {display:inline; margin-left:1%;}
.login button {margin-top:15px;}

//Profile Affichage
.profile #users-profile-core {}
.profile #users-profile-sobipro {margin-top:20px;}
.profile #users-profile-sobipro div#sobipro-entries {margin-bottom:20px;}

//Profile Edition
.profile-edit legend {color:@textColor!important;border:none!important; font-size:1em!important;}

//Registration
.registration legend {color:@textColor!important;border:none!important; font-size:1em!important;}

//Contacts
.contact .contact-email-form-description {margin-bottom:20px;}
.contact-form legend {color:@textColor!important;border:none!important; font-size:1em!important;font-weight:normal!important;}

//Validation
input.invalid, textarea.invalid {border:1px solid #FF0000!important;}

//Contenu +
.contenuplus {position:relative;z-index:9;margin-top:25px;margin-bottom:25px;.whitetexturized ; .whitebordered; .contrastedbackground;padding:3%;}
.contenuplus .retour {font-size:2em; position:absolute; top:20px; right:20px;}
.contenuplus ul.editor {list-style-type:none;  list-style: none; margin: 0 0 10px;}
.contenuplus ul.editor li{padding:2px; position:relative; margin-left:15px;}
.contenuplus ul.editor li:before {
	content:"\00a0";
	display: block;
	border: solid 5px @textColor;
	height: 0;
	width: 0;
	position: absolute;
	left:-15px;
	top:5px;
}
.item-page {}

//Footer
footer {position:relative;font-weight:bold;color:@footerColor;.whitetexturized ;.contrastedbackground; z-index:9999;padding-bottom:15px;}
footer  h3 {color:@footerTitleColor; font-size:1.6em;font-weight:bold; text-transform:uppercase;line-height:20px;cursor:pointer;}
footer a {color:@footerLinkColor;}
footer a:hover {color:@footerLinkHoverColor;}

footer .nav {list-style-type:none; margin:0;}
footer .nav > li a {color:@footerNavLinkColor!important;padding-bottom:5px;}
footer .nav > li a:hover {color:@footerNavLinkHoverColor!important; background:none!important;}

//S'incrire
footer .login {padding:1%;padding-top:0px;}
footer .registered .login .guestonly {display:none;}

//Ma carte locale
//footer .macartelocale {background-color:@white; color:@textColor; margin-top:20px;padding:3%;.rounded;.shadowed;}
//footer .macartelocale a, footer .macartelocale h3 {color:@textColor;}

//Logout
footer .loggedin {padding:1%;padding-top:20px;}
footer .loggedin #login-form {margin:0px;}
footer .login-greeting {margin-bottom:5px;}

//Misc
footer .misc {padding:1%;padding-top:0px;}
footer .partenaires img {width:100%;}
footer .keywords {font-size:1em; line-height:1.2em;color:@textColor;margin-top:20px;}

//Share
footer .social {padding:1%;padding-top:0px}
footer .social #socialshare {position:relative; right:2%;}
footer .social #sociallinks {font-size:2em;}

//Links 
footer .links {font-size:0.8em;margin-top:20px;line-height:1.2em;}

//Derniers inscrits
.derniersinscrits .entry {float:left; width:100%;margin-bottom:10px;}
.derniersinscrits .entry #logo {margin-right:2%;}
.derniersinscrits .entry #titre {font-weight:bold;margin-bottom:5px;}
.derniersinscrits .entry #categorie {font-size:0.8em;}

//Autres menu
.nav > li > a:hover {background:none;}

//Carousel
.carousel .carousel-control {display:none;background:none!important; border:none!important; color:@textColor ;font-size:2em;opacity:0.4;}
.carousel .carousel-inner .item img {width:100%;}

//Tooltips (bootstrap)
.tooltip {font-size:1em;font-weight:normal;}
a.hasBootstrapTip {color:@textColor;}

//Comment ca marche ?
#inscrivezvous-demo {position:relative;}
#inscrivezvouscarousel .carousel-caption {position:relative; background-color:rgba(0,0,0,0.6);}
#inscrivezvouscarousel .carousel-caption h4 {font-size:1em;}
#inscrivezvouscarousel .carousel-caption p{}

//Blog
//Titres du blog
.blog h2 {font-size:2.2em;}
.blog h3 {font-size:1.8em;}

.blog img.illustration {float:left; width:20%;margin-right:2%;}

.cols-1
{
        display: block;
        float: none !important;
        margin: 0 !important;
}

.cols-2 .column-1
{
        width:46%;
        float:left;
}

.cols-2 .column-2
{
        width:46%;
        float:right;
        margin:0
}

.cols-3 .column-1
{
        float:left;
        width:29%;
        padding:0px 5px;
        margin-right:4%

}
.cols-3 .column-2
{
        float:left;
        width:29%;
        margin-left:0;
        padding:0px 5px
}
.cols-3 .column-3
{
        float:right;
        width:29%;
        padding:0px 5px
}

.items-row
{
        overflow:hidden;
        margin-bottom:10px !important;
}

.column-1,
.column-2,
.column-3
{
        padding:10px 5px
}

.column-2
{
        width:55%;
        margin-left:40%;
}

.column-3
{
        width:30%
}

.blog-more
{
        padding:10px 5px
}

.items-leading {margin-top:25px;}
.article-info {font-size:0.8em;}
.article-info-term {display:none;}

//Newletter
table.acymailing_form {border-collapse:separate;border-spacing:3px;}

//Social share
#shareme .box{
float:left;
width:100%;
}
#shareme .box a{
color:@footerLinkColor;
text-shadow: 0 1px 1px rgba(167,167,167,.4);
}
#shareme .box a:hover{
text-decoration:none;
}
#shareme .count {
font-weight:bold;
font-size:2.5em;
float:left;
border-right:2px solid lighten(@footerLinkColor,15%);
line-height:40px;
padding-right:10px
}
#shareme .share {
float:left;
margin-left:10px;
font-size:1.2em;
width:100px;
}
#shareme .buttons {
position: absolute;
right:0;
width:180px;
background-color:#fff;
border: 1px solid rgba(0,0,0,.2);
padding:10px;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
#shareme .button {
float:left;
max-width:50px;
margin:0 10px 0 0;
}
#shareme .facebook {
margin:0 4px 0 0;
}

//Media Queries  
@media screen and (max-width: 980px) {

	//Bloc Derniers inscrits
	footer .derniersinscrits {display:none;}

}	

// Tablets to regular desktops
@media screen and (min-width: 980px) and (max-width: 1200px) {
	
	//Logo
	.header .brand, .header h1 {font-size:@headerBrandFontsize980-1200;}
	.header .icon  {font-size:@headerIconFontsize980-1200;}
	.header .soustitre {font-size:0.8em;}
}


// Tablets to regular desktops
@media screen and (min-width: 768px) and (max-width: 979px) {

	//.span4.zone-gauche {width:42%!important;}
	.accordion-group {float:left;width:100%!important;}
	
	//Logo
	.header .brand, .header h1 {font-size:@headerBrandFontsize768-980;}
	.header .icon  {font-size:@headerIconFontsize768-980;}
	.header .soustitre {font-size:0.6em;}
	
	//.spEntriesListContainer .spEntriesListCell  #logo {float:none;margin-bottom:15px;}
	//.spEntriesListContainer .spEntriesListTitle #titre {clear:both;}
	
	//Titres footer
	footer h3 {font-size:1.6em!important;}
}

// Phones to portrait tablets and narrow desktops
@media screen and (max-width: 767px) {

	//La partie centre n'utilise plus de height min
	//.centre {min-height:0px!important;}
	
	//Par defaut pas de fullmap
	//.fullmap {display:none;}
	//Sauf ...
	//.task-search-results .fullmap, .task-search-view .fullmap{display:block;}
	
	//La map prend sa place..pas trop haute....
	//.fullmap {position:relative!important;}
	
	//On laisse un grip a droite de la map pour eviter le scroll of death...
	//.mapgrip {		//background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQImWNgYGD4z0AswK4SAFXuAf//8EPy+xAAAAAElFTkSuQmCC) repeat;
	//}	
	//.map1, .map2 {width:95%; }

	//On supprime le bouton de masquage de la partie gauche
	#onoff {/*display:none*/ position:fixed; top:0px; z-index:9999;}
		
	//Titre header
	.header {padding-top:5px;padding-bottom:20px;}
	//header
	.header .soustitre {display:none;}
	.header .soustitre-small {display:block;text-align:right;margin-right:3%;}
	
	//Titres footer
	footer h3 {font-size:1.5em!important;}
	footer .menusecondaire {margin-top:0px;}
	footer .theme, footer .misc {margin-top:30px;}
	footer .misc {display:none;}
	
	//Titres du blog
	.blog h2 {font-size:2em;}
	.blog h3 {font-size:1.8em;}
	
	//Contenu + 
	.contenuplus {margin-top:0px;margin-bottom:0px;}
	
	//Zones
	.zone-gauche {margin-bottom:3px; }
	.zone-gauche.on {}	
}

@media screen and (max-width: 480px) {
	//Titres du blog
	.blog h2 {font-size:1.8em;}
	.blog h3 {font-size:1.6em;}
}

@media screen and (min-width:480px) and (max-width: 767px) {

	footer .partenaires img {width:50%;}
}

@media screen and (max-width: 360px) {

	//Bascule de l'illustration du post
	.blog img.illustration {float:left; width:100%;}

	footer #shareme .share {font-size:1.2em;}
	footer #shareme .count {font-size:2em;}

}

@media screen and (max-width: 320px) {

	//Logo
	.header .brand, .header h1  {font-size:@headerBrandFontsize320;}
	.header .icon  {font-size:@headerIconFontsize320;}
	.header .soustitre {font-size:0.7em;}
}

@media print {
}