
@fontFamily1: "Dosis", @baseFontFamily;
@fontFamily2: @baseFontFamily;

@thematicColor: @textColor;
@thematicColor2: #FCD036;
@headerIconColor : @thematicColor2;
@headerBrandColor1 : lighten(@thematicColor, 10%); 
@headerBrandColor2 : lighten(@thematicColor, 20%); 
@headerBrandColor3 : @thematicColor2;

@headerBrandFontsize : 1.5em;
@headerBrandFontsize980-1200 : 1.5em;
@headerBrandFontsize768-980 : 1.5em;
@headerBrandFontsize480 : 1.2em;
@headerBrandFontsize320 : 1.2em;

@headerIconFontsize : 2em;
@headerIconFontsize980-1200 : 2em;
@headerIconFontsize768-980 : 2em;
@headerIconFontsize480 : 1.5em;
@headerIconFontsize320 : 1.5em;

@footerBackgroundColor : @boxColor;
@footerColor : @textColor;
@footerTitleColor : @textColor;
@footerLinkColor : lighten(@footerColor , 5%);
@footerLinkHoverColor : lighten(@footerColor , 15%);
@footerNavLinkColor : lighten(@footerColor , 15%);
@footerNavLinkHoverColor : lighten(@footerColor , 25%);

@boxColor: #F4F3F0;
@lightBorderColor : #ddd;
@borderColor : @textColor;