* {
  margin: 0;
  padding: 0;
}
.clear {
  clear: both;
  display: block;
  height: 1px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.btn-primary {
  text-shadow: none;
  color: #222222;
}
h1 {
  font-family: "Dosis", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
h2 {
  font-family: "Dosis", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2em;
  line-height: 1em;
  font-weight: normal;
  word-spacing: 0.2em;
  margin: 10px 0;
}
h3 {
  font-family: "Dosis", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.8em;
  font-weight: normal;
  word-spacing: 0.2em;
  color: #222222;
  margin: 10px 0;
}
a {
  color: #6a4a3c;
  text-decoration: none;
}
a:hover {
  color: #9b6c58;
  text-decoration: none;
}
p {
  margin: 0 0 10px;
}
.contrastedbackground {
  background-color: #ffffff;
  behavior: url(/PIE.php);
}
.whitetexturized {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQImWNgYGD4z0AswK4SAFXuAf8EPy+xAAAAAElFTkSuQmCC) repeat;
}
.whitebordered {
  text-shadow: 1px 0 2px #ffffff, -1px 0 2px #ffffff, 0 1px 2px #ffffff, 0 -1px 2px #ffffff, 1px 1px 2px #ffffff, -1px -1px 2px #ffffff, 1px -1px 2px #ffffff, -1px 1px 2px #ffffff;
  behavior: url(/PIE.php);
}
.notwhitebordered {
  text-shadow: none;
  filter: none;
}
.shadowed {
  -moz-box-shadow: 2px 2px 3px #333;
  -webkit-box-shadow: 2px 2px 3px #333;
  box-shadow: 2px 2px 3px #333;
  behavior: url(/PIE.php);
}
.top-shadowed {
  -moz-box-shadow: 0px 0px 3px #333;
  -webkit-box-shadow: 0px 0px 3px #333;
  box-shadow: 0px 0px 3px #333;
  behavior: url(/PIE.php);
}
.bottom-shadowed {
  -moz-box-shadow: 0px 1px 2px #333;
  -webkit-box-shadow: 0px 1px 2px #333;
  box-shadow: 0px 1px 2px #333;
  behavior: url(/PIE.php);
}
.notshadowed {
  box-shadow: none;
}
.text-shadowed {
  text-shadow: #222222 0.1em 0.1em 0.2em;
  behavior: url(/PIE.php);
}
.rounded {
  -moz-border-radius: 5px;
  border-radius: 5px;
  behavior: url(/PIE.php);
}
.notrounded {
  border-radius: 0px;
}
.lifted:before,
.lifted:after {
  content: "";
  position: absolute;
  z-index: -1;
  -ms-transform: skew(-3deg, -2deg);
  -webkit-transform: skew(-3deg, -2deg);
  /* Safari and Chrome */

  -o-transform: skew(-3deg, -2deg);
  /* Opera */

  -moz-transform: skew(-3deg, -2deg);
  /* Firefox */

  bottom: 14px;
  box-shadow: 0 15px 5px rgba(0, 0, 0, 0.3);
  height: 50px;
  left: 5px;
  max-width: 50%;
  width: 50%;
  behavior: url(/PIE.php);
}
.lifted:after {
  -ms-transform: skew(3deg, 2deg);
  /* IE 9 */

  -webkit-transform: skew(3deg, 2deg);
  /* Safari and Chrome */

  -o-transform: skew(3deg, 2deg);
  /* Opera */

  -moz-transform: skew(3deg, 2deg);
  /* Firefox */

  left: auto;
  right: 5px;
  behavior: url(/PIE.php);
}
.lifted {
  position: relative;
}
#all {
  max-width: none!important;
}
.block-editor ul {
  list-style-type: none;
  list-style: none;
  margin: 0 0 10px;
}
.block-editor ul li {
  padding: 2px;
  position: relative;
  margin-left: 15px;
}
.block-editor ul li:before {
  content: "\00a0";
  display: block;
  border: solid 5px #6a4a3c;
  height: 0;
  width: 0;
  position: absolute;
  left: -15px;
  top: 5px;
}
.block-gauche {
  overflow: hidden;
  float: left;
  width: 60%;
}
.block-droite {
  overflow: hidden;
  float: right;
  width: 35%;
}
.SPDetails {
  color: #6a4a3c;
}
.SPDetails h1 {
  font-size: 2.5em;
}
.SPDetails .tab-content #activite_detaillee a,
.SPDetails .tab-content #encemoment a,
.SPDetails .tab-content #infocomplementaire a {
  color: #6a4a3c;
  border-bottom: 1px dashed #6a4a3c;
}
.SPDetails #resume_activite {
  font-weight: bold;
  margin-bottom: 30px;
}
.SPDetails #activite_detaillee {
  margin-bottom: 30px;
}
.SPDetails .spEntryEditLink {
  padding-right: 2%;
}
.SPDetailEntry img.tampon {
  height: 50px;
  margin-left: 1%;
}
.SPDetailEntry #soustitre {
  font-weight: bold;
}
.SPDetailEntry-Sidebar {
  float: left;
  width: 100%;
  margin-bottom: 30px;
}
.SPDetailEntry-Sidebar-infocomplementaire {
  margin-top: 15px;
}
.SPDetailEntry-Sidebar-contact {
  float: left;
  width: 45%;
  margin-right: 5%;
}
.SPDetailEntry-Sidebar-contact .SPDetailEntry-Sidebar-address {
  margin-bottom: 5px;
}
.SPDetailEntry-Sidebar-infos {
  float: right;
  width: 50%;
}
.SPDetailEntry-Sidebar-infos #productions {
  font-weight: bold;
  margin-bottom: 5px;
}
.SPDetailEntry-Sidebar-infos #print {
  margin-top: 15px;
}
.SPDetailEntry .manage {
  float: left;
  width: 50%;
  margin-bottom: 15px;
}
.SPDetailEntry .ratingstars {
  float: left;
}
.SPField#logo img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.SPDE-Resume {
  margin-top: 15px;
}
.SPDE-Resume .stampels {
  margin-top: 10px;
}
.SPDE-More {
  margin-bottom: 15px;
}
.SPDE-Links div.spField {
  display: inline;
  line-height: 30px;
}
.SPDE-Links div.spField a {
  color: #6a4a3c !important;
  font-size: 2.2em;
}
.SPDE-Socialshare {
  width: 100%;
  float: right;
}
.SPDE-Socialshare #entryshareme {
  margin-top: 10px;
}
.SPDE-Socialshare #entryshareme .button {
  float: left;
  width: 60px;
}
.SPDE-Galery {
  margin-top: 25px;
}
.SPDE-Map {
  border: 1px solid #f4f3f0;
  padding: 2%;
}
.SPDE-Map #saddr {
  margin-bottom: 0px!important;
}
.SPDE-Map .directions {
  display: none;
}
.SPDE-Map .directions-show {
  visibility: hidden;
  cursor: pointer;
  text-align: center;
  margin-top: 15px;
}
.SPDE-Map span.dirflg-driven input,
.SPDE-Map span.dirflg-bicycle input,
.SPDE-Map span.dirflg-walking input,
.SPDE-Map span.dirflg-nohighways input {
  margin-right: 1%;
  margin-left: 1%;
}
.SPDE-Map input.button {
  margin-top: 15px!important;
}
#sprrMsg {
  background-color: none!important;
}
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  color: none!important;
  background: none!important;
  border: none!important;
}
.spContactForm .spCfCloseBt {
  display: none;
}
.spEntryTabs {
  position: relative;
  margin-top: 25px;
}
.spEntryTabs {
  position: relative;
}
.tabbable {
  text-shadow: none;
  filter: none;
}
.tabbable.responsive .tab-content {
  padding: 20px;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
.tabbable.responsive .nav-tabs,
.tabbable.responsive .nav {
  margin: 0px;
}
.tabbable.responsive .nav-tabs > li {
  text-shadow: 1px 0 2px #ffffff, -1px 0 2px #ffffff, 0 1px 2px #ffffff, 0 -1px 2px #ffffff, 1px 1px 2px #ffffff, -1px -1px 2px #ffffff, 1px -1px 2px #ffffff, -1px 1px 2px #ffffff;
  behavior: url(/PIE.php);
  border-style: none;
  color: #6a4a3c !important;
}
.tabbable.responsive .nav-tabs > li:active {
  background-color: #ffffff;
  behavior: url(/PIE.php);
  text-shadow: none;
  filter: none;
}
.tabbable.responsive .nav-tabs a {
  font-size: 1.4em;
  border: none;
}
.tabbable.responsive .nav-tabs > li > a:active,
.tabbable.responsive .nav-tabs > .active > a,
.tabbable.responsive .nav-tabs > .active > a:hover {
  color: #6a4a3c !important;
  border-color: #dddddd #dddddd transparent;
  border-image: none;
  border-style: solid;
  border-width: 1px;
}
@media (max-width: 979px) {
  body {
    padding: 0;
  }
  .tabbable.responsive .nav-tabs {
    font-size: 16px;
  }
  .tabbable.responsive .nav-tabs ul {
    margin: 0;
  }
  .tabbable.responsive .nav-tabs li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    height: 44px;
    line-height: 44px;
    padding: 0 15px;
    border: 1px solid #000;
    overflow: hidden;
  }
  .tabbable.responsive .nav-tabs > li > a {
    border-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
  }
}
.tabbable.responsive .nav-tabs > li > a.tab-control,
.tabbable.responsive .nav-tabs > li > span.tab-control-spacer {
  float: left;
  width: 28px;
  height: 28px;
  margin-top: 6px;
  font-size: 2.2em;
  font-weight: 100;
  line-height: 22px;
  color: #ffffff !important;
  text-align: center;
  background: #7a5545;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  text-shadow: none;
  filter: none;
}
.tabbable.responsive .nav-tabs > li > a.tab-control.right,
.tabbable.responsive .nav-tabs > li > span.tab-control-spacer.right {
  float: right;
}
.tabbable.responsive .nav-tabs > li > a.tab-control:hover {
  color: white!important;
  background: #9b6c58;
}
.tabbable.responsive .nav-tabs > li > span.tab-control-spacer {
  line-height: 28px;
  color: transparent;
  background: transparent;
}
@media screen and (max-width: 640px) {
  .block-gauche {
    overflow: hidden;
    float: none;
    width: 100%;
  }
  .block-droite {
    overflow: hidden;
    float: none;
    clear: both;
    width: 100%;
  }
  .SPDE-Resume,
  .SPDE-More {
    width: 100%;
    text-align: left;
  }
  .SPDetailEntry-Sidebar-contact {
    width: 100%;
    margin-bottom: 5px;
  }
  .SPDetailEntry-Sidebar-infos {
    clear: both;
    width: 100%;
  }
  .SPDE-Map span.dirflg-driven,
  .SPDE-Map span.dirflg-bicycle,
  .SPDE-Map span.dirflg-walking,
  .SPDE-Map span.dirflg-nohighways {
    display: block;
  }
}
@media screen and (max-width: 360px) {
  
}
@media print {
  .SPDE-Galery,
  .SPDE-Print,
  .moduletable_social {
    display: none;
  }
  .SPDetailEntry-Left {
    width: 60%!important;
  }
  .SPDetailEntry-Sidebar {
    float: right!important;
  }
  .SPDetailEntry-Center {
    clear: both;
    width: 100%;
  }
}
