//Variables Bootstrap
@import "../../../../../../templates/baseannuairethematique/bootstrap-sources/less/variables.less";

//Variables internes globales
@import "../../../../../../templates/baseannuairethematique/css/variables.less";

//CSS general
@import "../../../../../../templates/baseannuairethematique/css/general.less";

#all {max-width:none!important;}

.block-editor ul {list-style-type:none;  list-style: none; margin: 0 0 10px;}
.block-editor ul li{padding:2px; position:relative; margin-left:15px;}
.block-editor ul li:before {
	content:"\00a0";
	display: block;
	border: solid 5px @textColor;
	height: 0;
	width: 0;
	position: absolute;
	left:-15px;
	top:5px;
}

.block-gauche {overflow:hidden; float:left; width:60%;}
.block-droite {overflow:hidden; float:right; width:35%;}

.SPDetails {color:@textColor;}
.SPDetails h1 {font-size:2.5em;}

//Textes enrichis
.SPDetails #resume_activite {font-weight:bold;margin-bottom:30px;}

//Entete
.SPDetails .spEntryEditLink {padding-right:2%;}

//Titre
.SPDetailEntry img.tampon {height:50px;margin-left:1%;}
.SPDetailEntry  #soustitre {font-weight:bold;}

//Infos
.SPDetailEntry-Sidebar {float:left; width:100%; margin-bottom:30px;}
.SPDetailEntry-Sidebar-infocomplementaire {margin-top:15px;}
.SPDetailEntry-Sidebar-contact {float:left; width:45%;margin-right:5%;}
.SPDetailEntry-Sidebar-contact .SPDetailEntry-Sidebar-address{margin-bottom:5px;}
.SPDetailEntry-Sidebar-infos {float:right; width:50%;}
.SPDetailEntry-Sidebar-infos #productions {font-weight:bold; margin-bottom:5px;}
.SPDetailEntry-Sidebar-infos #print {margin-top:15px;}

//Manage
.SPDetailEntry .manage {float:left;width:50%;margin-bottom:15px;}
//Rating
.SPDetailEntry .ratingstars {float:right;}

//Logo
.SPField#logo img {max-width:100%; width:100%;height:auto;}

//Resume
.SPDE-Resume {margin-top:15px;}
.SPDE-Resume .stampels {margin-top:10px;}

//Website
//.SPDE-Website {margin-top:15px;}

//More
.SPDE-More {margin-bottom:15px;}

//Links
.SPDE-Links {}
.SPDE-Links div.spField {display:inline;line-height:30px;}
.SPDE-Links div.spField a {color:@textColor!important;font-size:2.2em;}

//Social share
.SPDE-Socialshare {width:100%;float:right;}
.SPDE-Socialshare #entryshareme {margin-top:10px;}
.SPDE-Socialshare #entryshareme .button{
	float:left;
	width:60px;
}

//Galerie d'images
.SPDE-Galery {margin-top:25px;}
//.SPDE-Galery .carousel-control {display:none;background:none!important; border:none!important; color:@textColor ;font-size:2em;opacity:0.4}
//.SPDE-Galery .carousel .item img {width:100%;}

//Google map : gestion du formulaire de recherche d'itineraire
.SPDE-Map {border:1px solid @boxColor;padding:2%;}
.SPDE-Map #saddr {margin-bottom:0px!important;}
.SPDE-Map .directions {display:none;}
.SPDE-Map .directions-show {visibility:hidden; cursor:pointer;text-align:center;margin-top:15px;}

.SPDE-Map span.dirflg-driven input,
.SPDE-Map span.dirflg-bicycle input,
.SPDE-Map span.dirflg-walking input,
.SPDE-Map span.dirflg-nohighways input {margin-right:1%; margin-left:1%;}
.SPDE-Map input.button {margin-top:15px!important;}

//Commentaires
#sprrMsg {background-color:none!important;}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
	color:none!important; 
	background:none!important;
	border:none!important;
}

//Contact form
.spContactForm .spCfCloseBt {
	display:none;
}

//Tabs & accordion
.spEntryTabs {
	position:relative;
	margin-top:25px;
}

.spEntryTabs {
	position:relative;
}

#tabaccordion {
    width: 100%;
}

#tabaccordion h2 {font-size:1.6em; margin:0;}

ul#tabaccordion {
  padding: 0;
  margin:0;
}

#tabaccordion > li {
  overflow:hidden;
  list-style: none; 
  cursor:pointer;
 
   border-top: 1px solid @boxColor;
   border-left: 1px solid @boxColor;
   border-right: 1px solid @boxColor;
}
#tabaccordion > li:last-child {
	border-bottom: 1px solid @boxColor;
}

#tabaccordion > li span.tabaccordionitem {
    display: block;
    padding: 10px 15px;
 

    text-decoration: none;
}
#tabaccordion > li:last-child span.tabaccordionitem {
	
}

#tabaccordion li span.tabaccordionitem:hover, #tabaccordion li span.tabaccordionitem.active {
    background: @boxColor;

}

#tabaccordion section {
  display: none; /* I NEED TO FIX THIS */
  float: left;
  overflow: hidden; 
  padding: 1% 3% 0 3%;
}
#tabaccordion #description, #tabaccordion #commentaires, #tabaccordion #contact {
	float:left;
	width:100%;
}

.no-js #tabaccordion section {
  display: block; /* I NEED TO FIX THIS */
}

@media only screen and (min-width: 980px) { 
    #tabaccordion {width: 100%; position: relative; border: none; }
    #tabaccordion > li { display: inline; border:none; }
    #tabaccordion > li span.tabaccordionitem {display: inline-block;border-top: 1px solid @boxColor;border-left: 1px solid @boxColor;border-right: 1px solid @boxColor;}  
	#tabaccordion > li:last-child {	border-bottom: none;}
    #tabaccordion section { padding: 1%; top: 42px; left: 0; border: 1px solid @boxColor;width:100%;}   
}

//Half VGA
@media screen and (max-width: 640px){

//Page Description
.block-gauche {overflow:hidden; float:none;width:100%;}
.block-droite {overflow:hidden; float:none; clear:both;width:100%;}

.SPDE-Resume, .SPDE-More {width:100%;text-align:left;}

//Page Infos pratiques
.SPDetailEntry-Sidebar-contact {width:100%;margin-bottom:5px;}
.SPDetailEntry-Sidebar-infos {clear:both; width:100%;}

.SPDE-Map span.dirflg-driven ,
.SPDE-Map span.dirflg-bicycle ,
.SPDE-Map span.dirflg-walking ,
.SPDE-Map span.dirflg-nohighways {display:block;}
}

@media screen and (max-width: 360px){}

@media print {
	
	.SPDE-Galery, .SPDE-Print,
	.moduletable_social {display:none;} 

	.SPDetailEntry-Left {width:60%!important;}
	.SPDetailEntry-Sidebar {float:right!important;}

	.SPDetailEntry-Center {clear:both;width:100%;}
}
 
